<!-- BOOTSTRAP -->
<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">NiMa-Admin</a>
    
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
        </li>
      </ul>      
    </div>
  </div>
</nav>
  
<br><br><br>
   
<main > 
  
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <img class="me-3" src="../../../assets/web/logo2.ico" alt="" width="75px" height="45px">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">NiMa</h1>
      <small>Pedidos de Clientes</small>
    </div>
  </div>
  <br>

  <button class="btn btn-primary" (click)="prevPage()">Anteriores</button>
  &nbsp;
  <button class="btn btn-primary" (click)="nextPage()"
    [disabled]="(variables.pedidos | filtro:page).length === 0">
    Siguientes
  </button>
  <hr>

  <table id="tablax" class="table table-striped  bd-placeholder-img" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">Direcion</th>
        <th scope="col">No. Producto</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>

    <tbody>
      <tr class="altuta-tabla" *ngFor="let pedido of variables.pedidos | filtro:page"  >
  
        <td>{{pedido.idPedidio}}</td>
        <td>{{pedido.Nombre}}</td>
        <td>{{pedido.Email}}</td>
        <td>{{pedido.Telefono}}</td>
        <td>{{pedido.Direccion}}</td>
        <td>{{pedido.idProducto}}</td>
        <td><img [src]="pedido.url" alt="producto" width="100px" height="135px"></td>
        <button style="color: white; background-color: #6f42c1;;"  
          class="btn btn-lg" (click)="deleteProduct(pedido.idPedidio)">
          Borrar
        </button>
    </tbody>
  </table>

 

</main>