<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">NiMa-Admin</a>
      
      <div class="navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/control">Ventas Nima</a>
          </li>
        </ul>      
      </div>
    </div>
</nav>


<main class="container">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Administrador de NiMa</h1>
            <p class="lead text-body-secondary">
                <b>¡Bienvenido a nuestra aplicación web para administrar los pedidos de tu tienda online!</b>
            </p>
          </div>
        </div>
    </section>
    
    <div class="album py-5 bg-body-tertiary">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" focusable="false" 
              src="../../../assets/web/img-5cd3d500bc707-davand.jpg" alt="" width="100%" height="275px">                
              <div class="card-body">
                <p class="card-text">
                    En un mundo cada vez más digitalizado, sabemos lo importante que es tener un sistema 
                    eficiente para gestionar los pedidos de tu tienda online. Es por eso que hemos creado esta 
                    aplicación web, diseñada específicamente para facilitar el proceso de administración de 
                    pedidos y ayudarte a optimizar tu negocio.
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" focusable="false" src="../../../assets/web/71YCK9KfYsL.jpg" alt="" width="100%" height="275px">    
              
              <div class="card-body">
                <p class="card-text">
                    Nuestra plataforma integra todas las herramientas necesarias para controlar, organizar 
                    y gestionar eficientemente tus pedidos. Desde el momento en que un cliente realiza una 
                    compra en tu tienda, hasta la entrega final del producto, nuestra aplicación te brinda 
                    una visión clara y detallada de todo el proceso.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" focusable="false" 
              src="../../../assets/web/Tela-de-sat-n-para-manualidades-tejido-de-seda-de-imitaci-n-Color-azul-rosa-rojo.jpg" 
              alt="" width="100%" height="297px">  
              <div class="card-body">
                <p class="card-text">
                    En resumen, nuestra aplicación web para la administración de pedidos de tiendas online es la 
                    herramienta perfecta para agilizar tu negocio y mejorar la experiencia de tus clientes. 
                    ¡No pierdas más tiempo y comienza a optimizar tu gestión de pedidos con nosotros!
                </p>
              </div>
            </div>
          </div>
      
        </div>
      </div>
    </div>
    
</main>